.section-1 {
    position: relative;
    height: 90vh;
    width: 100vw;
    color: white;
    
}

.video-bg {
    height: 90vh;
    width: 100%;
    object-fit: cover;
    /* opacity: 0.9; */
}

.section-1-content {
    position: absolute;
    top: 40%;
    left: 5%;
}

.section-1-content h2 {
    font-size: 3rem;
}

.section-1-content h2 span {
    color: greenyellow;
}

.section-1-content p {
    font-size: 1.3rem;
    background-color: #304800;
    padding: 0.5rem 1.5rem;
    color: #9fef00;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
}
.section-1-content button{
    height: 2.5rem;
    width: 15rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #9fef00;
}


